@model tett.Models.Xe


@{
    ViewBag.Title = "CreateCarByAdmin";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-left:14%">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Mã Xe (vd: X1, X2, ...)
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaXe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaXe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Loại xe
            <div class="col-md-10">
                @Html.DropDownList("MaLoaiXe", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaLoaiXe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Biển số
            <div class="col-md-10">
                @Html.EditorFor(model => model.BienSo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BienSo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Tên xe
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenXe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenXe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mô tả
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Giá xe
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaXe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaXe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Tình trạng xe
            <div class="col-md-10">
                <div class="checkbox">
                    Đã thuê
                    @Html.EditorFor(model => model.TinhTrang)
                    @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            Link hình ảnh
            <div class="col-md-10">
                @Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
