@model IEnumerable<tett.Models.HopDong>

@{
    ViewBag.Title = "HopDongUser";
    Layout = "~/Views/Shared/_Layout_KH.cshtml";
}

    <center style="color: dodgerblue"><h3>DS hợp đồng của @Session["AccountName"]</h3></center>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ngay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTTT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DieuKhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ngay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HTTT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DieuKhoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
      
        <td style="background-color: dodgerblue">
            @Html.ActionLink("Chi tiết hợp đồng", "HopDongDetails", new { id=item.SoHD })
        </td>
    </tr>
}

</table>
